<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Asset Hoe!</title>
</head>
<body>
<h1>Hello from Asset!</h1>


<h3>Available armor:</h3>
<div th:if="${ not#lists.isEmpty(ARMOR)}">
    <table>
        <tr>
            <th>Type</th>
            <th>Damage Resistance</th>
            <th>Cost</th>
            <th>Weight</th>
        </tr>
        <tr th:each="armor : ${ARMOR}">
            <td th:text="${armor.type}"></td>
            <td th:text="${armor.damageResistance}"></td>
            <td th:text="${armor.cost}"></td>
            <td th:text="${armor.weight}"></td>
        </tr>
    <table>
</div>

</body>
</html>